* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/*============= Common =============*/
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

/*============= Header =============*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/*============= Hero =============*/
.hero {
  padding: 42px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero-summary {
  width: 270px;
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  align-items: center;
  border: none;
  display: flex;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

/*============= Popular course =============*/
.popular {
  padding: 65px 0;
  margin: 135px 0 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 50%;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}

.course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.course-list .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.course-list .info {
  margin: 16px 22px 22px;
}

.course-list .title a {
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 6px;
}

.course-item .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.course-item .foot,
.course-item .rating,
.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.course-item .foot {
  margin-top: 12px;
}

.course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.course-item .book-btn {
  border: none;
}

.course-item .book-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

/*============= Feedback =============*/
.feedback {
  padding: 96px 0;
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  justify-content: space-between;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.feedback .dots {
  display: flex;
  margin-top: 28px;
}

.feedback .dot {
  margin: 6px 6px 0 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback .dot.active {
  background: #ffb900;
  cursor: default;
}

.feedback .content {
  width: 66%;
}

.feedback blockquote {
  margin-left: 30px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
}

/*============= Features =============*/
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.features .images .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  min-width: 137px;
}

.features .cta-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/*============= Blog =============*/
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .desc {
  margin: 16px auto auto;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.blog .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  overflow: hidden;
}

.blog .blog-item {
  flex-shrink: 0;
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
}

.blog .blog-item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .thumb {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog .info {
  margin: 20px 20px 28px;
}

.blog-item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.blog-item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 4px;
}

.blog-item .date::after {
  position: absolute;
  left: 0;
  right: -27px;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-item .title a {
  display: inline-block;
  margin: 12px 0;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog-item .btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.blog-item .btn {
  font-size: 1.4rem;
}

.blog .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/*============= Footer =============*/
.footer {
  padding: 96px 135px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin: 18px 0;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .social {
  display: flex;
  gap: 18px;
}

.footer .title {
  display: inline-block;
  padding: 0 48px 14px 0;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-weight: 600;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
